.jumbotron{
	background-color: blue;
	color: #fff;
	padding-left: 30px;
}

footer{
	background-color: gray;
	padding: 10px 20px 0px 20px;
	margin-bottom: 0px;
	margin-top: 30px;
	color: #fff;
}

.card-hotel{
	flex: 1 250px;
	padding: 2px 5px 2px 5px;
}

.reservas{
	width: 100%;
}

.container{
	text-align: justify;
}

.quienes-somos{
	border-bottom: 1px solid;
	margin-bottom: 20px;
	background-color: #ff1eda38;
}

.productos h4, .creacion{
	text-align: center;
}

.quienes-somos h3{
	color: blue;
	font-weight: bold;
}

.secciones-footer a{
	color: #ffc30e;
}

address{
	text-align: center;
}

.creacion{
	width: 100%;
	color: #fff3f3c9;
}